<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/signup.js"></script>
</head>

<!-- 注册面板 -->
<div class="container">
    <h1 class="text-center text-danger">用户注册</h1><br>
    <form id="signupForm" role="form" class="form-horizontal" method="get">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="username">用户名：</label>
            <div class="col-sm-5">
                <input class="form-control" id="username" name="username" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">密码：</label>
            <div class="col-sm-5">
                <input class="form-control" id="password" name="password" type="password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="confirm_password">确认密码：</label>
            <div class="col-sm-5">
                <input class="form-control" id="confirm_password" name="confirm_password" type="password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">E-Mail：</label>
            <div class="col-sm-5">
                <input class="form-control" id="email" name="email" />
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button type="submit" class="btn btn-info  btn-block">注册</button>
            </div>
        </div>
    </form>
</div>