<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/signin.js"></script>
    <title>登录</title>
</head>

<div class="container">

    <!-- 登录面板 -->
    <h1 class="text-center text-success">用户登录</h1><br>
    <form id="signupForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="username">用户名：</label>
            <div class="col-sm-5">
                <input class="form-control" id="username" name="username" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">密码：</label>
            <div class="col-sm-5">
                <input class="form-control" id="password" name="password" type="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <button class="btn btn-success  btn-block">登录</button>
            </div>
        </div>
    </form>
    <a href="/users/sign_up" class="col-sm-offset-5">没有账号？点击注册</a>

     <!-- 模态框 -->
     <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
     <div class="modal-dialog modal-sm" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 消息提示
             </div>
             <div class="modal-body"></div>
         </div>
     </div>
 </div>

</div>